<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi enim magni ipsam doloribus. Iure quod quae necessitatibus neque. Magnam cumque, fugiat similique fugit voluptates harum alias esse eaque sapiente asperiores.</p>

    <h3> <%= 4+3 %> </h3>
    <h3><%="BittuRaj".toUpperCase() %></h3>
    <h3><%="BITTURAJ".toLowerCase() %></h3>
    <h3><%= ["Rand","ChoduCid","Chodu"][01] %></h3>
</body>
</html>