<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
</head>
<body>
    <h2>Write your posts here with valid details</h2>
    <br>
    <form method="post" action="/posts">
        <input placeholder="Write username" name="username" type="text"><br>
        <input placeholder="Your profession" name="profession" type="text"><br>
        <textarea placeholder="write your content here"></textarea>
        <br>
        <button>Submit Your Post</button>
    </form>
</body>
</html>