<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="postStyles.css">
</head>
<body>
    <h1>Quora posts</h1>
    <% for(post of posts){ %>
        <div class="post">
            <h2 class="username">@ <%= post.username %> </h2>
            <h3 class="prof"><%= post.profession %> </h3>
            <div class="contentDiv">
                <h4 class="content"><%= post.content %></h4>
            </div>
        </div>
       <% } %>
       <br><br>
       <a href="http://localhost:5151/posts/new">Create a new Post</a>
</body>
</html>

