<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat page</title>
</head>
<body>
    <h3>Write your new Chat here...</h3>
    <form method="POST" action="/chats">
        <input placeholder="who are you" name="from">
        <br>
        <textarea placeholder="write you message.."></textarea>
        <br>
        <input placeholder="Receiver's name" name="to">
        <br>
        <button>submit</button>
    </form>
</body>
</html>